<!doctype html>
<html ng-app="demo">
	<head>
		<title>Home Cage Surveillance</title>

		<link rel="stylesheet" href="static/hello.css">
		<link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="static/font-awesome-4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="static/angular-ui-switch.min.css">

		<script src="static/angular/angular.min.js"></script>
		<script src="static/bootstrap/js/bootstrap.min.js"></script>
		<script src="static/angular-ui-switch.min.js"></script>
  
      	<script src="static/hello.js"></script>

	    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.6.6/angular-material.min.js"></script> -->
	    <!-- <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script> -->

		<meta name="viewport" content="width=device-width, initial-scale=1.0">

	</head>

<body>
{% raw %}
	<div ng-controller="Hello">

	<table class="myTable0">
	<tr>
	<TD>
	{{status.system.hostname}}
	</TD>
	<TD>
	{{status.system.date}}
	</TD>
	<TD>
	{{status.system.time}}
	</TD>
	<td>
		<A HREF="{{myUrl}}videolist" target="_blank" style="color: #000000;"><i class="fa fa-hdd-o" aria-hidden="true"></i></a>
	</td>
	<td>
		<A HREF="http://blog.cudmore.io/homecage" target="_blank" style="color: #000000;"><i class="fa fa-question" aria-hidden="true"></i></A>
	</td>
	</tr>
	</table>
		
	
	<HR class="my_hr">

	<table class="myTable">
	
	<tr>
		<td>Lights</td>
		<td style="width:120px;">
		IR
		<switch id="enabled" 
			name="enabled" 
			ng-model="status.server.eventOut.irLED" 
			ng-change="eventOutChange('irLED')" 
			disabled="config.lights.auto && isState('recording')" 
			on="On" 
			off="Off" 
			class="green">
		</switch>
		</td>
		<td style="width:120px;">
		White
		<switch id="enabled" 
			name="enabled" 
			ng-model="status.server.eventOut.whiteLED" 
			ng-change="eventOutChange('whiteLED')" 
			disabled="config.lights.auto && isState('recording')" 
			on="On" off="Off" class="green">
		</switch>
		</td>
	</tr>
	
	<tr>
		<td>Recording</td>
		<td>
		<span ng-bind="isState('recording') ? 'On' : 'Off'"></span>
		</td>
		<td>
		<span ng-if="! isState('recording')">
			<button type="button" class="btn btn-success btn-sm" ng-click="startstoprecord(1)" ng-disabled="! isState('idle')">
			<i class="fa fa-play fa-1x" aria-hidden="true"></i> Start
			</button>
		</span>
		<span ng-if="isState('recording')">
			<button type="button" class="btn btn-danger btn-sm" ng-click="startstoprecord(0)">
			<i class="fa fa-stop fa-1x" aria-hidden="true"></i> Stop
			</button>
		</span>
		</td>
		<td>
		<span ng-show="isState('recording') || isState('armedrecording')">
			File: {{status.server.currentFile}}
		</span>
		<BR>
		<span ng-show="isState('recording') || isState('armedrecording')">
			Repeat {{status.server.currentEpoch}} elapsed (sec): {{status.server.epochElapsedSec}}
		</span>
		</td>
	</tr>

	<tr>
		<td>Streaming</td>
		<td>
		<span ng-bind="isState('streaming') ? 'On' : 'Off'"></span>
		</td>
		<td>
		<span ng-if="! isState('streaming')">
			<button type="button" class="btn btn-success btn-sm" ng-click="startstopstream(1)" ng-disabled="! isState('idle')">
			<!-- "{'icon-resize-small': isCollapsed, 'icon-fullscreen': !isCollapsed}" -->
			<i class="fa fa-play fa-1x" aria-hidden="true"></i> Start
			</button>
		</span>
		<span ng-if="isState('streaming')">
			<button type="button" class="btn btn-danger btn-sm" ng-click="startstopstream(0)">
			<i class="fa fa-stop fa-1x" aria-hidden="true"></i> Stop
			</button>
		</span>
		</td>
	</tr>

	<tr>
		<td>Armed</td>
		<td>
		<span ng-bind="isState('armed') ? 'On' : 'Off'"></span>
		</td>
		<td>
		<span ng-if="! isState('armed')">
			<button type="button" class="btn btn-success btn-sm" ng-click="startstoparm(1)" ng-disabled="! isState('idle')">
			<!-- "{'icon-resize-small': isCollapsed, 'icon-fullscreen': !isCollapsed}" -->
			<i class="fa fa-play fa-1x" aria-hidden="true"></i> Start
			</button>
		</span>
		<span ng-if="isState('armed')">
			<button type="button" class="btn btn-danger btn-sm" ng-click="startstoparm(0)">
			<i class="fa fa-stop fa-1x" aria-hidden="true"></i> Stop
			</button>
		</span>
		</td>
		<td>
			<span ng-if="isState('armed') || isState('armedrecording')">
			<button type="button" 
				class="btn btn-info btn-sm" 
				ng-click="simulate('triggerin')" 
				ng-disabled="0 && ! allowEditeOptions()">
				Simulate triggerIn
			</button>
			<button type="button" 
				class="btn btn-info btn-sm" 
				ng-click="simulate('frame')" 
				ng-disabled="0 && ! allowEditeOptions()">
				Simulate frame
			</button>
			<button type="button" 
				class="btn btn-info btn-sm" 
				ng-click="simulate('stop')" 
				ng-disabled="0 && ! allowEditeOptions()">
				Simulate stop
			</button>
			</span>
			
		</td>
	</tr>
	</table>


	<table class="myTable">
	<tr>
	<TD>
	Status: {{status.server.lastResponse}}
	</TD>
	</tr>
	<!--
	<tr ng-show="1 || status.isRecording">
	<td>
		<span class="mysmall" ng-show="1 || status.isRecording">Time Remaining (sec): {{status.timeRemaining}}</span>
	</td>
	</tr>
	-->
	</table>
	

	<!-- table for recording still -->
	<table>
	<tr>
	<td colspan=4 ng-show="1 || isState('recording') || isState('armedrecording')">
			<!--
			<span class="mysmall">Recording file: {{status.trial.currentFile}}</span>
			<span class="mysmall">Time Remaining (sec): {{status.timeRemaining}}</span>
			-->
			<span ng-if="showStill==0">
				<button ng-click="toggleStill()" class="btn btn-default btn-sm"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
			</span>
			<span ng-if="showStill==1">
				<button ng-click="toggleStill()" class="btn btn-default btn-sm"><i class="fa fa-chevron-down" aria-hidden="true"></i></button>
			</span>
			Time-lapse Image<BR>
			<span ng-show="showStill">	
				<IMG SRC="{{lastImage2}}" width=640 height=480>	
			</span>
	</td>
	</tr>
	</table>
	
	<!-- table for stream -->
	<table>
	<tr>
	<td colspan=4 ng-show="!hardCloseStream && isState('streaming')">
	<span class="mysmall">View stream at <A HREF="{{myStreamUrl0}}" target="_blank">{{myStreamUrl0}}</a></span>
	<BR>
	<iframe ng-src="{{myStreamUrl}}" width="{{streamWidth}}" height="{{streamHeight}}"></iframe>
	</td>
	</tr>
	</table>


	<!-- OPTIONS -->
	<span ng-if="showOptions==0">
		<button ng-click="toggleOptions()" class="btn btn-default btn-sm"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
	</span>
	<span ng-if="showOptions==1">
		<button ng-click="toggleOptions()" class="btn btn-default btn-sm"><i class="fa fa-chevron-down" aria-hidden="true"></i></button>
	</span>

	<span>Options</span>

	<span ng-show="showOptions">		

		<div class="indent">

		<b>Animal ID</b>
		   <input style="width: 5em" 
		   	type="text" 
		   	ng-model="config.server.animalID" 
		   	ng-disabled="! allowEditeOptions()" 
		   	ng-change="mySubmit('server.animalID',config.server.animalID)"
		   	/>
		   	<BR>

		<b>Video</b>
		
		<div class="indent2">

		<!-- <form ng-submit="mySubmit('video.fileDuration',config.video.fileDuration)"> -->
		   Recording Duration (sec)
		   <input style="width: 5em" 
		   	type="number" 
		   	ng-model="config.video.fileDuration" 
		   	ng-disabled="! allowEditeOptions()" 
		   	ng-change="mySubmit('video.fileDuration',config.video.fileDuration)"
		   	/>
		   	<BR>
		<!-- </form> -->

		<input type="checkbox" 
			ng-model="config.video.recordInfinity" 
			ng-change="mySubmit('video.recordInfinity',config.video.recordInfinity)" 
		   	ng-disabled="! allowEditeOptions()" 
			/>		
		Record indefinitely
		<BR>

		   Number of repeats
		   <input style="width: 5em" 
		   	type="number" 
		   	ng-model="config.video.numberOfRepeats" 
		   	ng-disabled="! allowEditeOptions()" 
		   	ng-change="mySubmit('video.numberOfRepeats',config.video.numberOfRepeats)"
		   	/>
		   	<BR>

				
		<!-- <form ng-submit="mySubmit('video.fps',config.video.fps)"> -->
		   Frames Per Second
		   <input style="width: 3em" 
		   	type="number" 
		   	ng-model="config.video.fps"
		   	ng-disabled="! allowEditeOptions()" 
		   	ng-change="mySubmit('video.fps',config.video.fps)"
		   	/>
		   	<BR>
		<!-- </form> -->

		Video Size 
		<select name="" 
			ng-init="config.video.resolution" 
			ng-model="config.video.resolution" 
			ng-Change="mySubmit('video.resolution',config.video.resolution)" 
		   	ng-disabled="! allowEditeOptions()" 
			>
		  <option value="640,480">640 x 480</option>
		  <option value="1024,768">1024 x 768</option>
		  <option value="1296,972">1296 x 972</option>
		</select>

		<BR>
		<input type="checkbox" 
			ng-model="config.video.captureStill" 
			ng-change="mySubmit('video.captureStill',config.video.captureStill)" 
		   	ng-disabled="! allowEditeOptions()" 
			/>		
			
		   Capture still image at interval (sec)
		   <input style="width: 3em" 
		   	type="number" 
		   	ng-model="config.video.stillInterval" 
		   	ng-disabled="! allowEditeOptions()" 
		   	ng-change="mySubmit('video.stillInterval',config.video.stillInterval)"
		   	/>

		<BR>
		<input type="checkbox" 
			ng-model="config.video.converttomp4"
			ng-change="mySubmit('video.converttomp4',config.video.converttomp4)" 
		   	ng-disabled="! allowEditeOptions()" 
			/>
		Convert video from h264 to mp4 
		

		</div> <!-- indent2 -->
		
		<b>Lights</b>
		
		<div class="indent2">

		<input type="checkbox" 
			ng-model="config.lights.auto" 
			ng-change="mySubmit('lights.auto',config.lights.auto)" 
		   	ng-disabled="! allowEditeOptions()" 
			/>
		Automatically turn lights on and off 
		
		<BR>
		<!-- <form style="display: inline-block;" ng-submit="mySubmit('lights.sunrise',config.lights.sunrise)"> -->
		   Sunrise (24h)
		   <input style="width: 3em" 
		   type="number" 
		   ng-model="config.lights.sunrise"
		   	ng-disabled="! allowEditeOptions()" 
		   ng-change="mySubmit('lights.sunrise',config.lights.sunrise)"
		   />
		<!-- </form> -->
		<!-- <form style="display: inline-block;" ng-submit="mySubmit('lights.sunset',config.lights.sunset)"> -->
		   Sunset (24h)
		   <input style="width: 3em" 
		   type="number" 
		   ng-model="config.lights.sunset" 
		   	ng-disabled="! allowEditeOptions()" 
		   ng-change="mySubmit('lights.sunset',config.lights.sunset)"
		   />
		<!-- </form> -->

		</div>
		
		<b>Stream</b>
		
		<div class="indent2">
		Stream Size  
		<select name="" 
			ng-init="config.video.streamResolution" 
			ng-model="config.video.streamResolution" 
			ng-Change="mySubmit('video.streamResolution',config.video.streamResolution)" 
		   	ng-disabled="! allowEditeOptions()" 
			>
		  <option value="640,480">640 x 480</option>
		  <option value="1024,768">1024 x 768</option>
		  <option value="1296,972">1296 x 972</option>
		</select>
		</div>

		<BR>
		<button type="button" class="btn btn-info btn-sm" ng-click="saveoptions()" ng-disabled="! allowEditeOptions()">Save Options</button>
		<button type="button" class="btn btn-info btn-sm" ng-click="loaddefaultoptions()" ng-disabled="! allowEditeOptions()">Load Default Options</button>
		
		</div> <!-- indent -->
		
	</span> <!-- ng-show="showOptions" -->

	
	<!-- Server Status -->
	<BR>
	<span ng-if="showStatus==0">
		<button ng-click="toggleStatus()" class="btn btn-default btn-sm"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
	</span>
	<span ng-if="showStatus==1">
		<button ng-click="toggleStatus()" class="btn btn-default btn-sm"><i class="fa fa-chevron-down" aria-hidden="true"></i></button>
	</span>


	<span>Server status</span>
	<span ng-show="showStatus">	
		<table class="myTable-small indent">
		<tr>
		
		<td style="vertical-align:top">
		<table class="myTable-small" style="border: 1px solid black" ng-repeat="(x,y) in status">
		  <tr>
		  <td>
		  <b>{{ x }}</b>
		  </td>
		  <td></td>
		  </tr>
		  <tr ng-repeat="(x,y) in y">
				<td>{{ x }}</td>
				<td>{{ y }}</td>
		  </tr>
		</table>
		</td>
		
		
		<!--
		<td style="vertical-align:top">
		<table class="myTable-small indent" style="border: 1px solid black" ng-repeat="(x,y) in config">
		  <tr>
		  <td>
		  <b>{{ x }}</b>
		  </td>
		  <td></td>
		  </tr>
		  <tr ng-repeat="(x,y) in y">
				<td>{{ x }}</td>
				<td>{{ y }}</td>
		  </tr>
		</table>
		</td>
		-->
		
		</tr>
		</table>
		
		<!--
		<p class="indent">
		file list: {{ videofilelist }}
		</p>
		-->
		
	</span> <!-- ng-show="showStatus" -->
	
	</div>
{% endraw %}
</body>
</html>