[Unit]
Wants=network-online.target
After=network-online.target

[Service]
Environment=homecage_path=/home/pi/homecage/homecage_app
ExecStart=/bin/bash /home/pi/homecage/homecage_app/bin/homecage_service.sh

[Install]
WantedBy=default.target

